@use '../../m.scss';

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  max-width: 90%;
  margin: auto;
  gap: 100px;
  min-height: calc(50vh - 50px);

  @include m.mq {
    justify-content: center;
    flex-flow: column;
    gap: 50px;
  }

  .homeWrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    @include m.mq {
      align-items: center;
    }

    h1 {
      font-size: var(--font-size-lg);
      transform: translate(-1px, 0);
    }

    p,
    span,
    h3 {
      color: #aaa;
      font-weight: 300;
    }

    h3 {
      font-size: var(--font-size-base);
      transform: translate(-1px, 0);
      font-weight: bold;
    }

    p {
      margin: 20px 0;
    }

    h1,
    h3,
    span,
    p {
      @include m.mq {
        text-align: center;
      }
    }

    #resumeBtn {
      background-color: #fff;
      text-decoration: none;
      padding: 5px 15px;
      color: #111;
      border-radius: 10px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        filter: brightness(0.8);
        transform: scale(1.1);
      }
    }
  }

  .homeImg {

    @include m.mq {
      order: -1;
    }

    img {
      max-width: 250px;
      border-radius: 20px;
      transition: 0.3s ease-in-out transform;
      padding: 5px;
      border: solid 2px #aaa;

      &:hover {
        transform: scale(1.05);
      }

      @include m.mq (600px) {
        max-width: 100%;
      }
    }
  }
}