@use '../../m.scss';

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  max-width: 90%;
  margin: auto;
  gap: 100px;

  @include m.mq {
    justify-content: center;
    flex-flow: column;
    gap: 50px;
    max-width: 100%;
  }

  @include m.mq (500px) {
    max-width: 90%;
  }

  .homeWrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;

    @include m.mq {
      align-items: center;
      max-width: 60%;
    }

    @include m.mq (500px) {
      max-width: 90%;
    }

    h1 {
      font-size: var(--font-size-lg);
      transform: translate(-1px, 0);
    }

    p,
    span,
    h3 {
      color: #aaa;
      font-weight: 300;
    }

    h3 {
      font-size: var(--font-size-base);
      transform: translate(-1px, 0);
      font-weight: bold;
    }

    p {
      margin: 20px 0;
    }

    h1,
    h3,
    span,
    p {
      @include m.mq {
        text-align: center;
      }
    }

    #resumeBtn {
      padding: 5px 15px;
      color: #fff;
      border-radius: 10px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 10px;
      border: solid 1px #aaa;
      background-color: transparent;
      cursor: pointer;
      font-size: var(--font-size-sm);
      font-family: "Roboto Mono", monospace;
      position: relative;

      ul {
        position: absolute;
        font-weight: bold;
        font-size: var(--font-size-sm);
        border-radius: 5px;
        width: 100%;
        left: 0;
        top: 150%;
        list-style: none;
        transition: 0.3s;

        li {
          background-color: #eee;
          transition: 0.3s;
          padding: 3px;

          &:nth-child(1) {
            border-radius: 5px 5px 0 0;
            position: relative;

            &::before {
              content: '';
              position: absolute;
              top: -5px;
              left: 50%;
              transform: translate(-50%, 0);
              height: 5px;
              width: 10px;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
              background-color: #eee;
            }
          }

          &:nth-child(2) {
            border-radius: 0 0 5px 5px;
          }

          &:hover {
            filter: brightness(0.85);
          }

          a {
            text-decoration: none;
            color: #111;
          }

        }
      }

      .hidden {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .homeImg {

    @include m.mq {
      max-width: 400px;
      width: 60%;
      order: -1;
    }

    @include m.mq (500px) {
      max-width: 100%;
      width: 100%;
    }

    img {
      max-width: 250px;
      border-radius: 20px;
      transition: 0.3s ease-in-out transform;
      padding: 5px;
      border: solid 2px #aaa;

      &:hover {
        transform: scale(1.05);
      }

      @include m.mq {
        max-width: 100%;
      }
    }
  }
}