@use '../../m.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  max-width: 90%;
  margin: auto;
  min-height: 100px;

  .navDarkMode {
    z-index: 15;
    height: 30px;
    width: 30px;

    .hide {
      display: none;
    }

    svg {
      padding: 5px;
      fill: #fff;
      border-radius: 10px;
      cursor: pointer;
      display: inline;
      transition: 0.3s;
      border: solid 1px #aaa;

      &:hover {
        filter: brightness(0.8);
        transform: scale(1.1);
      }
    }
  }

  .navWrapper {

    ul {
      list-style: none;
      display: flex;
      gap: 20px;

      li {

        a {
          text-decoration: none;
          color: #fff;
          transition: 0.2s;
          position: relative;
          padding-bottom: 5px;

          &:hover {
            filter: brightness(0.8);
          }

          &:hover::before {
            width: 100%;
            filter: brightness(0.8);
          }

          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background-color: #fff;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            transition: 0.3s;
          }
        }
      }
    }

    @include m.mq {
      background-color: #111;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease-in-out;

      a {
        font-size: var(--font-size-md);
      }
    }
  }

  .menuHidden {
    @include m.mq {
      opacity: 0;
      visibility: hidden;
    }
  }

  .menu {
    display: none;
    z-index: 15;

    @include m.mq {
      display: flex;
      flex-flow: column;
      height: 30px;
      width: 30px;
      align-items: center;
      justify-content: center;
      gap: 3px;
      cursor: pointer;
      border: solid 1px #aaa;
      border-radius: 10px;
    }

    .menuBar {
      position: relative;
      background-color: #fff;
      height: 2px;
      width: 50%;
      transition: 0.3s;
    }

  }

  .open {
    position: relative;

    .menuBar {
      position: absolute;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }
    }
  }

}